

::selection {
  color: black;
  background-color: white;
}

$primary: #1f2024;
$secondary: #efefef;
$text-color-secondary: #c2c1c1;
$font-size-500: 17px;
$font-size-700: 26px;
$font-color-secondary: $secondary;
$box-shadow-primary: 0px 0px 8px 10px rgba(0, 0, 0, 0.426);
