::selection {
  color: black;
  background-color: white;
}

:root {
  --black: #1f2024;
  --white: #efefef;
  --gray: #c2c1c1;
  --normal-size: 19px;
  --normal-color: #c2c1c1;
  --header-size: 26px;
  --header-color: var(--white);
  --box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.426);
}

$primary: #1f2024;
$secondary: #efefef;
$text-color-secondary: #c2c1c1;
$font-size-500: 17px;
$font-size-700: 26px;
$font-color-secondary: $secondary;
$box-shadow-primary: 0px 0px 8px 10px rgba(0, 0, 0, 0.426);
